* { 
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body {
  background-color: antiquewhite;
}
.card {
  width: 300px;
  margin: 50px auto;
 background-color: bisque;
 border-radius: 20px;
 padding:10px;
}
.card:hover {
box-shadow: 0 0 15px #fff;
}
.card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.card h3 {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 24px;
  }
.card p {
  margin-bottom: 10px;
  font-size: 18px;
}
.card button {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  background-color: burlywood;
  color: aliceblue;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}
.card span {
  text-align: center;
  display: block;
}
